<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='../style.css' />
  </head>
  <body>
    <header><p>Malika Gupta--------------------------------------------------------------------------------------N01581424</p>
    </header>
    <div class="content">
        <br><br>
      {{{body}}}
    </div>
    <footer>
      <p>----------------------------------------gmalika1101@gmail.com----------------------------------------------</p>
    </footer>
  </body>
</html>
