<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='../style.css' />
  </head>
  <body>
    <header><p>Malika Gupta--------------------------------------------------------------------------------------N01581424</p>
    </header>
    <br>
    <nav>
        <br><h2 style="text-align: left;">Menu Options:</h2>
    <ul>
        {{#if user}}
        <li>Welcome, {{user.username}}</li>
        <li><a href="/api/restoform">Get Restaurant Details</a></li>
        <li><a href="/logout">Log out</a></li>
        {{else}}
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
        {{/if}}
    </ul>
    </nav>

    <div class="content">
      {{{body}}}
    </div>
    <footer>
      <p>----------------------------------------gmalika1101@gmail.com----------------------------------------------</p>
    </footer>
  </body>
</html>
