    <h1>Find your new favourite restaurant!!</h1>
    <form action="/api/findyourfav" method="POST">
        <label for="cuisine">Enter Cuisine:</label>
        <input id="cuisine" name="cuisine" type="text"><br><br>
        <label for="borough">Enter Borough:</label>
        <input type="text" id="borough" name="borough" required><br><br>
        <button type="submit" >Find now!</button>
    </form>
