<h1>Welcome welcome!This is the homepage!</h1>
<nav>
    <h3>Menu Options:</h3>
    <ul>
        <li><h3><a href="/login">Log me in!!</a></h3></li>
        <li><h3><a href="/signup">Sign me up!!</a></h3></li>
    </ul>
</nav>