<h1>Enter details for restaurant information retrieval: </h1>
<form action="/api/restoform" method="POST">
    <label for="page">Page:</label>
    <input type="text" id="page" name="page" required><br><br>
    <label for="perPage">Per Page:</label>
    <input type="text" id="perPage" name="perPage" required><br><br>
    <label for="borough">Borough:</label>
    <input type="text" id="borough" name="borough"><br><br>
    <button type="submit">Submit</button>
</form>
